// base color
$text: #2a3c54;
$black: #333;
$white: #fff;
$deep_white: #f2f4f8;
$light_gray: #ccc;
$light_blue: #409eff;
$deep_blue: #1d8bf9;
$deep2_blue: #0e63b8;
$danger: #fc3a3a;
$warning: #ff9d0b;
$safe: #17d573;
