// base color
$text: #2a3c54;
$text_o5: #2a3c5486;
$black: #212121;
$black_o9: #0000000f;
$black_gray_o5: #3e3e3e81;
$white: #ffffff;
$deep_white: #f2f4f8b5;
$light_gray: #0d0d0d0d;
$light_blue: #409eff;
$shadow: #00000016;
$deep_blue: #1d8bf9;
$deep2_blue: #0e63b8;
$danger: #fc3a3a;
$warning: #ff9d0b;
$safe: #17d573;
