@use '@/assets/scss/_forward' as *;

.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 36.5px);
    padding: 2rem;

    .auth-card {
        background: $white;
        padding: 2rem 2rem;
        border-radius: 1rem;
        box-shadow: 0 6px 20px $shadow;
        width: 100%;
        max-width: 450px;

        .form-group {
            margin-bottom: 1.2rem;

            label {
                color: $text;
                display: block;
                font-weight: bold;
                margin-bottom: 0.5rem;
            }

            input {
                color: $text;
                width: 100%;
                padding: 0.6rem 0.75rem;
                border: 1px solid $light_gray;
                border-radius: 0.5rem;
                font-size: 1rem;
                transition: 0.2s ease;

                &:focus {
                    border-color: $light_blue;
                    outline: none;
                }
            }

            .password-body {
                display: flex;
                border: 1px solid $light_gray;
                border-radius: 0.5rem;
                padding-right: 0.75rem;
                input {
                    border: transparent;
                }
                &:hover {
                    border-color: $light_blue;
                    outline: none;
                }
            }
        }
    }
}

.form-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.2rem;
}

.forget-pwd {
    text-align: center;
    font-size: 0.95rem;
    margin-top: 1.2rem;
    .link {
        color: $deep2_blue;
        text-decoration: none;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}

.svg-pwd {
    fill: $text_o5;
}
